


<form (submit)="send()" ngNativeValidate>
    <p>Add A Transaction</p>

    <mat-form-field >
        <mat-label>Category</mat-label>
        <mat-select name="category" [(ngModel)]="data.transaction.category" required>
          <mat-option *ngFor="let c of categories" [value]="c._id">{{c.name}}</mat-option>
        </mat-select>
        
      </mat-form-field>

    
    <mat-form-field  class="example-full-width" >
        <mat-label>Choose a date</mat-label>
        <input required name="date" [(ngModel)]="data.transaction.date" matInput [matDatepicker]="picker">
    
        <mat-datepicker-toggle matIconSuffix [for]="picker">
          <mat-icon matDatepickerToggleIcon  aria-hidden="false" fontIcon="keyboard_arrow_down"></mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      


    <mat-form-field >
        <mat-label >Amount</mat-label>
        <input required  matInput type="number" class="example-right-align" placeholder="0" name="amount" [(ngModel)]="data.transaction.amount" />
        <span matTextPrefix></span>
      </mat-form-field>



    <mat-form-field >
        <mat-label>Description</mat-label>
        <input required matInput name="description" [(ngModel)]="data.transaction.description" >
    
    
      </mat-form-field>
    

      <mat-dialog-actions>
        <button mat-button>Update</button>

      </mat-dialog-actions>
</form>




