/* Form Styling */
form {
    display: flex;
    flex-direction: column;
    width: fit-content;
    border-radius: 15px;
    border: 6px solid #141E46; 
    background-color: #ffffff; 
    margin: auto;
    padding: 8px;
    justify-content: center;
    align-items: stretch;
    box-shadow: 4px 4px 15px rgba(69, 71, 128, 0.621); /* Subtle shadow for depth */
  margin-bottom: 20px;
  }
  
  /* Button Styling */
  button {
    background: #141E46; /* Bright blue background */
    border: none;
    padding: 10px 20px;
    margin: 10px 0;
    font: inherit;
    color: #FFF; /* White text color */
    cursor: pointer;
    border-radius: 5px; /* Slightly rounded corners */
    font-size: 16px;
    text-transform: uppercase; /* Uppercase text for emphasis */
    transition: background-color 0.3s ease; /* Smooth transition effect */
  }
  
  button:hover {
    background-color: #FF9209; /* Darker blue on hover */
  }
  
  button:active {
    background-color: #FF9209; /* Even darker blue when active */
  }
  

  
  
  p{
    font-size:medium;
    font-weight: 800;
    font-family:  'Arial Narrow Bold', sans-serif;
    color: #141E46;
  }

  .mat-form-field{
    background-color: #F5F5F5;
    color: black;
  }

  