/* Form Styling */
form {
    display: flex;
    flex-direction: column;
    width: fit-content;
    border-radius: 15px;
    border: 10px solid #141E46; /* Light blue border */
    background-color: #F5F5F5; /* Light grey background */
    margin: auto;
    padding: 10px;
    justify-content: center;
    align-items: stretch;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  }
  
  /* Button Styling */
  button {
    background: #141E46; /* Bright blue background */
    border: none;
    padding: 10px 20px;
    margin: 10px 0;
    font: inherit;
    color: #FFF; /* White text color */
    cursor: pointer;
    border-radius: 5px; /* Slightly rounded corners */
    font-size: 16px;
    text-transform: uppercase; /* Uppercase text for emphasis */
    transition: background-color 0.3s ease; /* Smooth transition effect */
  }
  
  button:hover {
    background-color: rgb(127, 255, 144); /* Darker blue on hover */
  }
  
  button:active {
    background-color: rgb(109, 255, 129); /* Even darker blue when active */
  }
  
  /* Input Styling */
  input, select {
    margin-bottom: 12px;
    width: 100%;
    padding: 10px;
    border: 2px solid #141E46; /* Light blue border */
    border-radius: 5px; /* Slightly rounded corners */
    font-size: 16px;
    background-color: #FFF; /* White background */
    color: #333; /* Dark text color */
  }
  
  input:focus, select:focus {
    border-color: rgb(127, 255, 144); /* Change border color on focus */
    outline: none;
  }
  
  /* Input Container Styling */
  .inputContainer {
    width: 100%;
    margin-bottom: 12px;
  }
  

  p{
    font-size:medium;
    font-weight: 800;
    font-family:  'Arial Narrow Bold', sans-serif;
    color: #141E46;
  }

  .mat-form-field{
    background-color: #F5F5F5;
    color: black;
  }

  