.menu{
    background-color: #e87c23;
color: #141E46;
box-shadow:1px 1px 25px rgba(87, 117, 97, 0.705) ;
margin-bottom: 50px;
}

h1{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-bottom: 7px;
}

