.menu{
    background-color: rgb(94, 219, 144);
color: aliceblue;
}

h1{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-bottom: 7px;
}

.myMenu{
color: white;
}