<span class="inputContainer">
  <input
    (ngModelChange)="onSearch()"
    type="text"
    placeholder="Search"
    [(ngModel)]="searchValue"
  />
  <mat-icon aria-hidden="false" fontIcon="search" class="searchBtn"></mat-icon>
</span>

<div class="tableContainer">
  <table class="table table-striped myTable rounded-3">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">
          <button (click)="onSortDate()">Date</button>
          <mat-icon aria-hidden="false" [fontIcon]="isStartDate ? 'arrow_upward' : 'arrow_downward'"></mat-icon>
        </th>
        <th scope="col" (click)="onSortAmount()">
          <button>Amount</button>
          <mat-icon aria-hidden="false" [fontIcon]="isStartAmount ? 'arrow_upward' : 'arrow_downward'"></mat-icon>
        </th>
        <th scope="col">Description</th>
        <th scope="col">Category</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let t of transToDisplay$ | async; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ t.date | date :'shortDate' }} </td>
        <td>{{ t.amount }}</td>
        <td>{{ t.description }}</td>
        <td>{{ t.category }}</td>
      </tr>
    </tbody>
  </table>
</div>
