    
    <span class="inputContainer">
    <input (ngModelChange)="search($event)" type="text" placeholder="search" [(ngModel)]="searchValue" />
    <button>
      <mat-icon aria-hidden="false" fontIcon="search" class="searchBtn"></mat-icon>
    </button>
  </span>

 
<table class="table table-striped myTable">
<thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col" (click)="onSortDate()"><button>Date</button></th>
    <th scope="col" (click)="onSortAmount()"><button>Amount</button></th>
    <th scope="col">Description</th>
    <th scope="col">Category</th>
  </tr>
</thead>
<tbody>
 @for (t of transactions;track i; let i = $index){
<tr>
<th scope="row">{{i + 1}}</th>

<td>{{t.date}}</td>
<td>{{t.amount}}</td>
<td>{{t.description}}</td>
<td>{{t.category}}</td>
</tr>

 }
  

</tbody>

</table>

