.listContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 255, 255);
  height: 80vh;
  width: 90%;
  margin: auto;
  border-radius: 8px;
  border: 1px rgba(0, 0, 0, 0.1) solid;
  padding-top: 40px;
}

.tableContainer{
width: 80%;
margin: 32px auto;
}


.myTable {
  width: 99%;
  border-collapse: collapse;
  overflow: hidden;       
padding: 8px 2px;
}

.myTable th, .myTable td {
  border: none;  /* No internal borders */
}

button{
  background: none; /* Removes the background color */
  border: none; /* Removes the border */
  padding: 0; /* Removes any default padding */
  margin: 0; /* Removes any default margin */
  font: inherit; /* Inherits font properties from the parent */
  color: inherit; /* Inherits text color from the parent */
  cursor: pointer; /* Shows a pointer cursor on hover */
  text-align: left; /* Aligns text to the left (optional) */
  box-shadow: none; /* Removes any shadow */
  outline: none; /* Removes the outline for keyboard navigation (optional) */
  display: inline; /* Makes the button inline (optional) */
}



input[type="text"] {
  margin-bottom: 8px;
  width: 60%;
  padding: 4px;
 border: none;
  font-size: 16px;
  background-color: transparent;
  margin: auto;

}

input[type="text"]:focus {
  outline: none;
}


.inputContainer{
  border: none;
  border-bottom: 1px solid #ccc;

}

